includes:
	- vendor/phpstan/phpstan-symfony/extension.neon
parameters:
  symfony:
	# container_xml_path: %rootDir%/../../../var/cache/test/srcApp_KernelTestDebugProjectContainer.xml
    container_xml_path: %rootDir%/../../../var/cache/dev/srcApp_KernelDevDebugContainer.xml
  excludes_analyse:
    - %rootDir%/../../../src/Migrations/*.php
  level: max
  paths:
    - %rootDir%/../../../src
